<!DOCTYPE html>
<html lang="en">

<head>
    <title>Curvyllama</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>

<body>

        <div class="jumbotron">
            <h1>Curvyllama</h1>
            <p class="lead"></p>
        </div>
        <div align="center">
          <span>
            <iframe src="http://player.twitch.tv/?channel=curvyllama" frameborder="0" scrolling="no" height="431" width="705"></iframe>
          </span><br />
          <span>
            <iframe src="http://www.twitch.tv/curvyllama/chat?popout=" frameborder="0" scrolling="no" height="500" width="350"></iframe>
          </span>
          <span>
            <iframe src="http://www.twitch.tv/lorenzotherobot/chat?popout=" frameborder="0" scrolling="no" height="500" width="350"></iframe>
          </span>
        </div>

        <footer class="footer">
            <p>&copy; Company 2015</p>
        </footer>

    </div>
</body>

</html>
